@CHARSET "ISO-8859-1";
body {
	font-family: sans-serif;
	font-size: 120%;
}

td {
	padding: .2em;
}
.buttonControl {
    background-color: white;
    color: black;
    border: 2px solid #e7e7e7;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
}

.buttonControl:hover {background-color: #e7e7e7;}

.addButton{
	    background-color: white;
    color: black;
    border: 2px solid #e7e7e7;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 4px 2px;

}
.removeParent {
	margin-left: 1em;
}

.pollVoteLink {
	margin-left: .5em;
	margin-right: .5em;
}

table{
	
}

td.pollQuestion {
	border: 1px solid silver;
	text-align: center;
	padding-top: .5em;
	padding-bottom: .5em;
}

#pollResults td.titleRow{
	font-weight: bold;
	border-bottom: 1px solid silver;
}

div#pollQuestions, div#pollResults {
}

td.green {
	border-top: 1px solid silver;
	background-color: lime;
}

td.orange {
	border-top: 1px solid silver;
	background-color: orange;
}

#pollResults table {
	margin-bottom: 2em;
	border: 1px solid silver;
}


#pollResults table.current {
	padding:3px 3px 3px 3px;
	border: 3px dashed orange;
}

.questionIndex {
	font-size: 90%;
	color: gray;
	font-style: italic;
}

table{
}

.resultColumnTitle td {
	border-bottom: 1px solid silver;
	vertical-align: bottom;
}

.resultScaleFactor {
	padding-right: .3em;
}

h3 {
	background-color: #D8BFD8;
	color: black;
	padding: .10em;
	text-align: center;
}	

lable {	
	display: block;
}

.setup {
	margin-bottom: 2em;
}

.questionTextDisplay{
	font-size: 1.5em;
	font-weight: bold;
}

.pollQuestionTitle {
	text-align: center;
	padding: .5em;
}

#pollQuestions {
	text-align: center;
}

#pollQuestions table{
	margin-left: auto;
	margin-right: auto;
	margin-top: 4em;
	margin-bottom: .5em;
}

.simplePollButtons input{
	margin-left: .5em;
	margin-right: .5em;
	padding-left: .5em;
	padding-right: .5em;
}

fieldset {
	background-color: #E6E6FA;
	margin-bottom: 1em;
	padding: 1em;
	border: 1px solid silver;
}

legend {
	background-color: white;
	margin-left: .3em;
	font-weight: bold;
}

#optionsList {
	margin-bottom: 1em;	
}

.detailedPollButtons input{
	padding-left: .5em;
	padding-right: .5em;
}

.votingOptions li{
	margin-left: -3em;	
}

.votingOptions li{
	list-style: none;
	margin-bottom: 1em;
	
}

fieldset img {
	margin-left: 7em;
	margin-top: .3em;
}

#L_MuchMore {
  display: inline-block;
  border-radius: 4px;
  background-color: #070617;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

#L_MuchMore span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

#L_MuchMore span:after {
  content: '\00ab';
  position: absolute;
  opacity: 0;
  top: 0;
  left: 20px;
  transition: 0.5s;
}

#L_MuchMore:hover span {
  padding-left: 25px;
}

#L_MuchMore:hover span:after {
  opacity: 1;
  left: 0;
}

#R_MuchMore {
  display: inline-block;
  border-radius: 4px;
  background-color: #f4511e;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

#R_MuchMore span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

#R_MuchMore span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

#R_MuchMore:hover span {
  padding-right: 25px;
}

#R_MuchMore:hover span:after {
  opacity: 1;
  right: 0;
}

#R_SlightlyMore {
  display: inline-block;
  border-radius: 4px;
  background-color: #3A65A6;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

#R_SlightlyMore span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

#R_SlightlyMore span:after {
  content: '\003e';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

#R_SlightlyMore:hover span {
  padding-right: 25px;
}

#R_SlightlyMore:hover span:after {
  opacity: 1;
  right: 0;
}
#L_SlightlyMore {
  display: inline-block;
  border-radius: 4px;
  background-color: #6490CB;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

#L_SlightlyMore span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

#L_SlightlyMore span:after {
  content: '\003c';
  position: absolute;
  opacity: 0;
  top: 0;
  left: 20px;
  transition: 0.5s;
}

#L_SlightlyMore:hover span {
  padding-left: 25px;
}

#L_SlightlyMore:hover span:after {
  opacity: 1;
  left: 0;
}
#L_R_Same {
    display: inline-block;
  border-radius: 4px;
  background-color: #AABCD9;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 200px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}
#L_R_Same:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}